@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/fondo.png);
  background-attachment: fixed; }

h1,
h2,
h3 {
  font-family: 'Lora', serif; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2.0;
  color: #5D5D5D;
  font-weight: 400; }

h1 {
  color: #87CEEB;
  font-size: 4rem; }

h2 {
  color: #0D2DED;
  font-size: 3rem; }

h3 {
  color: #28BCD2; }

h4 {
  color: #808080;
  font-size: 2rem; }

/* ends commons */
/* inicia nav */
/* aplicando maps, map-get */
nav {
  background-color: #7BE1FF;
  position: sticky;
  top: 0;
  width: 100%; }
  nav ul {
    display: inline; }
    nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px; }
      nav ul li a {
        list-style: none;
        text-decoration: none;
        font-size: 2rem;
        color: #F88E38;
        font-family: 'Roboto', sans-serif;
        /* Animacion */
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .2s; }
        nav ul li a:hover {
          font-weight: 600;
          color: #000000;
          /*animacion*/
          background-size: 100% 2px; }

/*ends nav */
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.bg-light {
  background-color: #D1C7C7; }

.bg-orchid {
  background-color: orchid; }

.bg-skyblue {
  background-color: skyblue; }

.bg-blue {
  background-color: #5F5FFF; }

.text-blue {
  color: skyblue;
  font-size: 2.2rem; }

/* aplicando mixins */
.btnXl, .btn-rounded {
  width: 50%;
  height: 30px;
  background-color: #87CEEB;
  color: #000000;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

/* aplicando extend */
.btn-rounded {
  border-radius: 5px; }

/* inicio box model - width - height - margin - padding - border */
/* inicio box-sizing */
.modelos__articulo {
  width: 90%;
  height: auto;
  padding: 50px;
  margin: 50px auto;
  box-sizing: border-box; }

/* clases bem */
.encabezado__box--white {
  background-color: #F3F2F2;
  text-align: center;
  padding: 5px 0; }

.encabezado__img--fluid {
  width: 100%; }

.novedades__titulo--xll {
  font-size: 4rem; }

.novedades__titulo--xl {
  font-size: 3rem; }

.text--xx {
  font-size: 2.2rem; }

.text--x {
  font-size: 1.7rem;
  font-family: serif; }

.pie {
  padding: 10px 0;
  text-align: center; }

.pie__icon--sm {
  width: 30px; }

.pie__titulo--md {
  display: inline;
  font-size: 2rem; }

.secondNav {
  background-color: white;
  color: #676565;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 1.6em; }

/* fin selectores de clase */
/* inicio selector de id */
/* productos en promoción*/
#productos h1,
#productos h2 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: Roboto, sans-serif;
  margin: 20px 0; }

#productos .galeria {
  margin: 20px;
  display: flex;
  justify-content: space-around; }

#productos .galeria figure {
  text-align: center; }

#productos .galeria figure img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#productos .galeria figure figcaption {
  font-size: 2.5rem;
  color: black;
  padding: 10px 0;
  background-color: white; }

#productos .galeria p.price {
  color: #676565;
  padding-bottom: 10px;
  background-color: white; }

#productos .destacados article {
  background-color: #5F5FFF;
  display: flex; }

#productos .destacados article p {
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 50px;
  margin: 20px auto;
  color: #FFFFFF; }

#productos .destacados article h3 {
  color: #FFFFFF;
  font-size: 3rem;
  padding-left: 50px;
  font-family: Roboto, sans-serif; }

#error404 {
  background: #081c22;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif; }

#error404 img {
  width: 50%; }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center; }

#error404 h1 {
  color: #e9eef5;
  font-size: 20px;
  padding: 20px; }

#error404 button {
  padding: 13px 30px;
  border-radius: 15px;
  border: none;
  background: #0581f5;
  color: white; }

@media screen and (max-width: 630px) {
  h1 {
    font-size: 16px; } }
