*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/fondo.png);
	background-attachment: fixed;
}

h1,
h2,
h3{
	font-family: 'Lora', serif;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: $fontSm;
	line-height: 2.0;
	color: #5D5D5D;
	font-weight: 400;

}

h1{
    color: $keyColor;
    font-size: $fontX;
}

h2{
	color: $secondaryColor;
	font-size: $fontXL;
}

h3{
	color: $celeste;
}

h4{
	color: $grey;
	font-size: $fontMd;
}

/* ends commons */
