// fonts
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');
// vars 
$font-size: 62.5%;
$mainFont:'Roboto', sans-serif;
$secondFont:'Lora', serif;
// sizing 
$fontX:4rem;
$fontXL:3rem;
$fontMd:2rem;
$fontMdd:2.2rem;
$fontSm:1.6rem;;

