// vars para colores
$mainColor: #7BE1FF;
$secondaryColor:#0D2DED;
$keyColor:#87CEEB;
$celeste:#28BCD2;
$grey:#808080;
$negro:#000000;
$naranja:#F88E38;
$light:#D1C7C7;

$mapaDeColores: (
	$mainColor: #7BE1FF,
	$secondaryColor:#0D2DED,
	$keyColor:#87CEEB,
	$celeste:#28BCD2,
	$grey:#808080,
	$negro:#000000,
	$naranja:#F88E38,
	$light:#D1C7C7,
);